.modal-open {
  animation: modal-open 200ms ease;
  transform: scale(1);
  opacity: 1;
}

@keyframes modal-open {
  from {
    transform: scale(.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-close {
  animation: modal-close 200ms ease;
  transform: scale(.9);
  opacity: 0;
}

@keyframes modal-close {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(.9);
    opacity: 0;
  }
}

.modal-overlay-open {
  animation: modal-overlay-open 300ms;
  opacity: 1;
}

@keyframes modal-overlay-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-overlay-close {
  animation: modal-overlay-close 450ms;
  opacity: 0;
}

@keyframes modal-overlay-close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}